// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../../../BaseClient.js";
import {
    type NormalizedClientOptionsWithAuth,
    normalizeClientOptionsWithAuth,
} from "../../../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../../../core/headers.js";
import * as core from "../../../../../../../../core/index.js";
import * as environments from "../../../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../../../errors/index.js";
import * as serializers from "../../../../../../../../serialization/index.js";
import * as BasisTheory from "../../../../../../../index.js";

export declare namespace CredentialsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CredentialsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CredentialsClient.Options>;

    constructor(options: CredentialsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List credential metadata for an allowance. Responses contain metadata only — never card numbers, SPT values, or MPP payloads.
     *
     * @param {string} allowance_id
     * @param {BasisTheory.agentic.allowances.CredentialsListRequest} request
     * @param {CredentialsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link BasisTheory.ForbiddenError}
     * @throws {@link BasisTheory.NotFoundError}
     *
     * @example
     *     await client.agentic.allowances.credentials.list("allowance_id", {
     *         size: 1,
     *         start: "start"
     *     })
     */
    public async list(
        allowance_id: string,
        request: BasisTheory.agentic.allowances.CredentialsListRequest = {},
        requestOptions?: CredentialsClient.RequestOptions,
    ): Promise<core.Page<BasisTheory.PaymentCredentialMetadata, BasisTheory.PaymentCredentialList>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: BasisTheory.agentic.allowances.CredentialsListRequest,
            ): Promise<core.WithRawResponse<BasisTheory.PaymentCredentialList>> => {
                const { size, start } = request;
                const _queryParams: Record<string, unknown> = {
                    size,
                    start,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "BT-TRACE-ID": requestOptions?.correlationId ?? this._options?.correlationId,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.BasisTheoryEnvironment.Default,
                        `agentic/allowances/${core.url.encodePathParam(allowance_id)}/credentials`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.PaymentCredentialList.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 403:
                            throw new BasisTheory.ForbiddenError(_response.error.body, _response.rawResponse);
                        case 404:
                            throw new BasisTheory.NotFoundError(_response.error.body, _response.rawResponse);
                        default:
                            throw new errors.BasisTheoryError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/agentic/allowances/{allowance_id}/credentials",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<BasisTheory.PaymentCredentialMetadata, BasisTheory.PaymentCredentialList>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.pagination.next != null &&
                !(typeof response?.pagination.next === "string" && response?.pagination.next === ""),
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "start", response?.pagination.next));
            },
        });
    }

    /**
     * Create a spend credential from an allowance. Supply BT-IDEMPOTENCY-KEY for retry protection. Without it, every request is a new mint and may spend the allowance again.
     *
     * @param {string} allowance_id
     * @param {BasisTheory.agentic.allowances.CreatePaymentCredentialRequest} request
     * @param {CredentialsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link BasisTheory.BadRequestError}
     * @throws {@link BasisTheory.ForbiddenError}
     * @throws {@link BasisTheory.NotFoundError}
     * @throws {@link BasisTheory.ConflictError}
     *
     * @example
     *     await client.agentic.allowances.credentials.create("allowance_id", {
     *         rail: "agentic-token",
     *         provider: "vic",
     *         credential: {
     *             format: "card"
     *         }
     *     })
     */
    public create(
        allowance_id: string,
        request: BasisTheory.agentic.allowances.CreatePaymentCredentialRequest,
        requestOptions?: CredentialsClient.RequestOptions,
    ): core.HttpResponsePromise<BasisTheory.PaymentCredential> {
        return core.HttpResponsePromise.fromPromise(this.__create(allowance_id, request, requestOptions));
    }

    private async __create(
        allowance_id: string,
        request: BasisTheory.agentic.allowances.CreatePaymentCredentialRequest,
        requestOptions?: CredentialsClient.RequestOptions,
    ): Promise<core.WithRawResponse<BasisTheory.PaymentCredential>> {
        const { btIdempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "BT-IDEMPOTENCY-KEY": btIdempotencyKey,
                "BT-TRACE-ID": requestOptions?.correlationId ?? this._options?.correlationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BasisTheoryEnvironment.Default,
                `agentic/allowances/${core.url.encodePathParam(allowance_id)}/credentials`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.agentic.allowances.CreatePaymentCredentialRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.PaymentCredential.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new BasisTheory.BadRequestError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new BasisTheory.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new BasisTheory.NotFoundError(_response.error.body, _response.rawResponse);
                case 409:
                    throw new BasisTheory.ConflictError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.BasisTheoryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/agentic/allowances/{allowance_id}/credentials",
        );
    }

    /**
     * Get credential metadata. The credential payload itself (card number, SPT, MPP token) is only ever returned by the create call.
     *
     * @param {string} allowance_id
     * @param {string} credential_id
     * @param {CredentialsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link BasisTheory.ForbiddenError}
     * @throws {@link BasisTheory.NotFoundError}
     *
     * @example
     *     await client.agentic.allowances.credentials.get("allowance_id", "credential_id")
     */
    public get(
        allowance_id: string,
        credential_id: string,
        requestOptions?: CredentialsClient.RequestOptions,
    ): core.HttpResponsePromise<BasisTheory.PaymentCredentialMetadata> {
        return core.HttpResponsePromise.fromPromise(this.__get(allowance_id, credential_id, requestOptions));
    }

    private async __get(
        allowance_id: string,
        credential_id: string,
        requestOptions?: CredentialsClient.RequestOptions,
    ): Promise<core.WithRawResponse<BasisTheory.PaymentCredentialMetadata>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "BT-TRACE-ID": requestOptions?.correlationId ?? this._options?.correlationId }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BasisTheoryEnvironment.Default,
                `agentic/allowances/${core.url.encodePathParam(allowance_id)}/credentials/${core.url.encodePathParam(credential_id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.PaymentCredentialMetadata.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new BasisTheory.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new BasisTheory.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.BasisTheoryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/agentic/allowances/{allowance_id}/credentials/{credential_id}",
        );
    }
}
