// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as serializers from "../../../../../../serialization/index.js";
import * as BasisTheory from "../../../../../index.js";
import { CredentialsClient } from "../resources/credentials/client/Client.js";
import { RailsClient } from "../resources/rails/client/Client.js";

export declare namespace AllowancesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AllowancesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AllowancesClient.Options>;
    protected _rails: RailsClient | undefined;
    protected _credentials: CredentialsClient | undefined;

    constructor(options: AllowancesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get rails(): RailsClient {
        return (this._rails ??= new RailsClient(this._options));
    }

    public get credentials(): CredentialsClient {
        return (this._credentials ??= new CredentialsClient(this._options));
    }

    /**
     * Lists allowances for the current tenant. Defaults to active, unexpired resources; use `status=all` for a complete Portal history. Results can be scoped to one payment method, and server-side page filling prevents sparse pages when filtering by status.
     *
     * @param {BasisTheory.agentic.AllowancesListRequest} request
     * @param {AllowancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link BasisTheory.ForbiddenError}
     *
     * @example
     *     await client.agentic.allowances.list({
     *         size: 1,
     *         start: "start",
     *         paymentMethodId: "payment_method_id",
     *         status: "active"
     *     })
     */
    public async list(
        request: BasisTheory.agentic.AllowancesListRequest = {},
        requestOptions?: AllowancesClient.RequestOptions,
    ): Promise<core.Page<BasisTheory.Allowance, BasisTheory.AllowanceList>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: BasisTheory.agentic.AllowancesListRequest,
            ): Promise<core.WithRawResponse<BasisTheory.AllowanceList>> => {
                const { size, start, paymentMethodId, status } = request;
                const _queryParams: Record<string, unknown> = {
                    size,
                    start,
                    payment_method_id: paymentMethodId,
                    status:
                        status != null
                            ? serializers.agentic.AllowancesListRequestStatus.jsonOrThrow(status, {
                                  unrecognizedObjectKeys: "strip",
                                  omitUndefined: true,
                              })
                            : undefined,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "BT-TRACE-ID": requestOptions?.correlationId ?? this._options?.correlationId,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.BasisTheoryEnvironment.Default,
                        "agentic/allowances",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.AllowanceList.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 403:
                            throw new BasisTheory.ForbiddenError(_response.error.body, _response.rawResponse);
                        default:
                            throw new errors.BasisTheoryError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/agentic/allowances");
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<BasisTheory.Allowance, BasisTheory.AllowanceList>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.pagination.next != null &&
                !(typeof response?.pagination.next === "string" && response?.pagination.next === ""),
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "start", response?.pagination.next));
            },
        });
    }

    /**
     * Create a spending allowance from a payment method. Supply `merchant` to scope the mandate to one merchant, or omit it to leave the allowance open and name a merchant on each credential request instead. The payment method must have at least one enabled rail; otherwise the request returns `NO_ACTIVE_RAILS`.
     *
     * @param {BasisTheory.agentic.CreateAllowanceRequest} request
     * @param {AllowancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link BasisTheory.BadRequestError}
     * @throws {@link BasisTheory.ForbiddenError}
     * @throws {@link BasisTheory.NotFoundError}
     *
     * @example
     *     await client.agentic.allowances.create({
     *         paymentMethodId: "payment_method_id",
     *         amount: {
     *             value: "100.00",
     *             currency: "USD"
     *         },
     *         description: "description",
     *         expiresAt: new Date("2024-01-15T09:30:00.000Z")
     *     })
     */
    public create(
        request: BasisTheory.agentic.CreateAllowanceRequest,
        requestOptions?: AllowancesClient.RequestOptions,
    ): core.HttpResponsePromise<BasisTheory.Allowance> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: BasisTheory.agentic.CreateAllowanceRequest,
        requestOptions?: AllowancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<BasisTheory.Allowance>> {
        const { btIdempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "BT-IDEMPOTENCY-KEY": btIdempotencyKey,
                "BT-TRACE-ID": requestOptions?.correlationId ?? this._options?.correlationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BasisTheoryEnvironment.Default,
                "agentic/allowances",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.agentic.CreateAllowanceRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.Allowance.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new BasisTheory.BadRequestError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new BasisTheory.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new BasisTheory.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.BasisTheoryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/agentic/allowances");
    }

    /**
     * @param {string} allowance_id
     * @param {AllowancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link BasisTheory.ForbiddenError}
     * @throws {@link BasisTheory.NotFoundError}
     *
     * @example
     *     await client.agentic.allowances.get("allowance_id")
     */
    public get(
        allowance_id: string,
        requestOptions?: AllowancesClient.RequestOptions,
    ): core.HttpResponsePromise<BasisTheory.Allowance> {
        return core.HttpResponsePromise.fromPromise(this.__get(allowance_id, requestOptions));
    }

    private async __get(
        allowance_id: string,
        requestOptions?: AllowancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<BasisTheory.Allowance>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "BT-TRACE-ID": requestOptions?.correlationId ?? this._options?.correlationId }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BasisTheoryEnvironment.Default,
                `agentic/allowances/${core.url.encodePathParam(allowance_id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.Allowance.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new BasisTheory.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new BasisTheory.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.BasisTheoryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/agentic/allowances/{allowance_id}",
        );
    }

    /**
     * Cancel an allowance so new credentials cannot be created from it. Network-side purchase instructions held by its rails are cancelled with the provider.
     *
     * @param {string} allowance_id
     * @param {AllowancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link BasisTheory.ForbiddenError}
     * @throws {@link BasisTheory.NotFoundError}
     *
     * @example
     *     await client.agentic.allowances.delete("allowance_id")
     */
    public delete(
        allowance_id: string,
        requestOptions?: AllowancesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(allowance_id, requestOptions));
    }

    private async __delete(
        allowance_id: string,
        requestOptions?: AllowancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "BT-TRACE-ID": requestOptions?.correlationId ?? this._options?.correlationId }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BasisTheoryEnvironment.Default,
                `agentic/allowances/${core.url.encodePathParam(allowance_id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new BasisTheory.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new BasisTheory.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.BasisTheoryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/agentic/allowances/{allowance_id}",
        );
    }

    /**
     * Updates one or more mutable fields by changing the provider-side mandate first, then committing the same amount, prompt, and expiry locally. Mints are blocked while the update is in flight, and an empty request body is rejected.
     *
     * @param {string} allowance_id
     * @param {BasisTheory.agentic.AllowancesUpdateRequest} request
     * @param {AllowancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link BasisTheory.BadRequestError}
     * @throws {@link BasisTheory.ForbiddenError}
     * @throws {@link BasisTheory.NotFoundError}
     *
     * @example
     *     await client.agentic.allowances.update("allowance_id")
     */
    public update(
        allowance_id: string,
        request: BasisTheory.agentic.AllowancesUpdateRequest = {},
        requestOptions?: AllowancesClient.RequestOptions,
    ): core.HttpResponsePromise<BasisTheory.Allowance> {
        return core.HttpResponsePromise.fromPromise(this.__update(allowance_id, request, requestOptions));
    }

    private async __update(
        allowance_id: string,
        request: BasisTheory.agentic.AllowancesUpdateRequest = {},
        requestOptions?: AllowancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<BasisTheory.Allowance>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "BT-TRACE-ID": requestOptions?.correlationId ?? this._options?.correlationId }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BasisTheoryEnvironment.Default,
                `agentic/allowances/${core.url.encodePathParam(allowance_id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.agentic.AllowancesUpdateRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.Allowance.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new BasisTheory.BadRequestError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new BasisTheory.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new BasisTheory.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.BasisTheoryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/agentic/allowances/{allowance_id}",
        );
    }

    /**
     * Lists sanitized provider failures for an allowance, including failed verification and credential attempts. Raw provider bodies and card data are never returned.
     *
     * @param {string} allowance_id
     * @param {BasisTheory.agentic.AllowancesErrorsRequest} request
     * @param {AllowancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link BasisTheory.ForbiddenError}
     * @throws {@link BasisTheory.NotFoundError}
     *
     * @example
     *     await client.agentic.allowances.errors("allowance_id", {
     *         size: 1,
     *         start: "start"
     *     })
     */
    public async errors(
        allowance_id: string,
        request: BasisTheory.agentic.AllowancesErrorsRequest = {},
        requestOptions?: AllowancesClient.RequestOptions,
    ): Promise<core.Page<BasisTheory.SharedPaymentProviderError, BasisTheory.SharedPaymentProviderErrorList>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: BasisTheory.agentic.AllowancesErrorsRequest,
            ): Promise<core.WithRawResponse<BasisTheory.SharedPaymentProviderErrorList>> => {
                const { size, start } = request;
                const _queryParams: Record<string, unknown> = {
                    size,
                    start,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "BT-TRACE-ID": requestOptions?.correlationId ?? this._options?.correlationId,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.BasisTheoryEnvironment.Default,
                        `agentic/allowances/${core.url.encodePathParam(allowance_id)}/errors`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.SharedPaymentProviderErrorList.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 403:
                            throw new BasisTheory.ForbiddenError(_response.error.body, _response.rawResponse);
                        case 404:
                            throw new BasisTheory.NotFoundError(_response.error.body, _response.rawResponse);
                        default:
                            throw new errors.BasisTheoryError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/agentic/allowances/{allowance_id}/errors",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<BasisTheory.SharedPaymentProviderError, BasisTheory.SharedPaymentProviderErrorList>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.pagination?.next != null &&
                !(typeof response?.pagination?.next === "string" && response?.pagination?.next === ""),
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "start", response?.pagination?.next));
            },
        });
    }

    /**
     * Start or continue self-served verification for a rail that requires it. Public and private applications may call this operation with `agentic:allowance:verify`; browser clients should use a public application key. Visa verification is advanced through explicit ceremony actions. Mastercard managed authentication is finalized with `complete` after the hosted ceremony; callback delivery is only a browser signal and is not required.
     *
     * @param {string} allowance_id
     * @param {BasisTheory.VerifyAllowanceRequest} request
     * @param {AllowancesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link BasisTheory.BadRequestError}
     * @throws {@link BasisTheory.ForbiddenError}
     * @throws {@link BasisTheory.NotFoundError}
     *
     * @example
     *     await client.agentic.allowances.verify("allowance_id", {
     *         action: "start",
     *         rail: "agentic-token",
     *         provider: "vic"
     *     })
     */
    public verify(
        allowance_id: string,
        request: BasisTheory.VerifyAllowanceRequest,
        requestOptions?: AllowancesClient.RequestOptions,
    ): core.HttpResponsePromise<BasisTheory.AllowanceVerificationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__verify(allowance_id, request, requestOptions));
    }

    private async __verify(
        allowance_id: string,
        request: BasisTheory.VerifyAllowanceRequest,
        requestOptions?: AllowancesClient.RequestOptions,
    ): Promise<core.WithRawResponse<BasisTheory.AllowanceVerificationResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "BT-TRACE-ID": requestOptions?.correlationId ?? this._options?.correlationId }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BasisTheoryEnvironment.Default,
                `agentic/allowances/${core.url.encodePathParam(allowance_id)}/verify`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.VerifyAllowanceRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.AllowanceVerificationResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new BasisTheory.BadRequestError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new BasisTheory.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new BasisTheory.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.BasisTheoryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/agentic/allowances/{allowance_id}/verify",
        );
    }
}
