// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as serializers from "../../../../../../serialization/index.js";
import * as BasisTheory from "../../../../../index.js";
import { RailsClient } from "../resources/rails/client/Client.js";

export declare namespace PaymentMethodsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PaymentMethodsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PaymentMethodsClient.Options>;
    protected _rails: RailsClient | undefined;

    constructor(options: PaymentMethodsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get rails(): RailsClient {
        return (this._rails ??= new RailsClient(this._options));
    }

    /**
     * Lists shared payment methods for the current tenant. Defaults to active resources; use `status=all` for a complete Portal history. Server-side page filling prevents sparse pages when filtering by status.
     *
     * @param {BasisTheory.agentic.PaymentMethodsListRequest} request
     * @param {PaymentMethodsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link BasisTheory.UnauthorizedError}
     * @throws {@link BasisTheory.ForbiddenError}
     *
     * @example
     *     await client.agentic.paymentMethods.list({
     *         size: 1,
     *         start: "start",
     *         consumerId: "consumer_id",
     *         status: "active"
     *     })
     */
    public async list(
        request: BasisTheory.agentic.PaymentMethodsListRequest = {},
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): Promise<core.Page<BasisTheory.PaymentMethod, BasisTheory.PaymentMethodList>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: BasisTheory.agentic.PaymentMethodsListRequest,
            ): Promise<core.WithRawResponse<BasisTheory.PaymentMethodList>> => {
                const { size, start, consumerId, status } = request;
                const _queryParams: Record<string, unknown> = {
                    size,
                    start,
                    consumer_id: consumerId,
                    status:
                        status != null
                            ? serializers.agentic.PaymentMethodsListRequestStatus.jsonOrThrow(status, {
                                  unrecognizedObjectKeys: "strip",
                                  omitUndefined: true,
                              })
                            : undefined,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "BT-TRACE-ID": requestOptions?.correlationId ?? this._options?.correlationId,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.BasisTheoryEnvironment.Default,
                        "agentic/payment-methods",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.PaymentMethodList.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 401:
                            throw new BasisTheory.UnauthorizedError(_response.error.body, _response.rawResponse);
                        case 403:
                            throw new BasisTheory.ForbiddenError(_response.error.body, _response.rawResponse);
                        default:
                            throw new errors.BasisTheoryError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/agentic/payment-methods",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<BasisTheory.PaymentMethod, BasisTheory.PaymentMethodList>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.pagination.next != null &&
                !(typeof response?.pagination.next === "string" && response?.pagination.next === ""),
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "start", response?.pagination.next));
            },
        });
    }

    /**
     * Create a shared payment method from a funding source — a Basis Theory card token, or an instrument reached through a source connection — and provision the rails that source is eligible for. Public and private applications may call this operation with `agentic:payment-method:create`. Supply BT-IDEMPOTENCY-KEY to make matching retries return the same resource. Without it, every request is a new create operation.
     *
     * @param {BasisTheory.agentic.CreatePaymentMethodRequest} request
     * @param {PaymentMethodsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link BasisTheory.BadRequestError}
     * @throws {@link BasisTheory.UnauthorizedError}
     * @throws {@link BasisTheory.ForbiddenError}
     * @throws {@link BasisTheory.NotFoundError}
     * @throws {@link BasisTheory.ConflictError}
     * @throws {@link BasisTheory.InternalServerError}
     * @throws {@link BasisTheory.NotImplementedError}
     *
     * @example
     *     await client.agentic.paymentMethods.create({
     *         source: {
     *             type: "basis_theory_card_token",
     *             tokenId: "token_id"
     *         },
     *         consumer: {
     *             email: "email"
     *         }
     *     })
     */
    public create(
        request: BasisTheory.agentic.CreatePaymentMethodRequest,
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): core.HttpResponsePromise<BasisTheory.PaymentMethod> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: BasisTheory.agentic.CreatePaymentMethodRequest,
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): Promise<core.WithRawResponse<BasisTheory.PaymentMethod>> {
        const { btIdempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "BT-IDEMPOTENCY-KEY": btIdempotencyKey,
                "BT-TRACE-ID": requestOptions?.correlationId ?? this._options?.correlationId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BasisTheoryEnvironment.Default,
                "agentic/payment-methods",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: serializers.agentic.CreatePaymentMethodRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.PaymentMethod.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new BasisTheory.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new BasisTheory.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new BasisTheory.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new BasisTheory.NotFoundError(_response.error.body, _response.rawResponse);
                case 409:
                    throw new BasisTheory.ConflictError(_response.error.body, _response.rawResponse);
                case 500:
                    throw new BasisTheory.InternalServerError(_response.error.body, _response.rawResponse);
                case 501:
                    throw new BasisTheory.NotImplementedError(
                        serializers.ProblemDetails.parseOrThrow(_response.error.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        _response.rawResponse,
                    );
                default:
                    throw new errors.BasisTheoryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/agentic/payment-methods");
    }

    /**
     * @param {string} payment_method_id
     * @param {PaymentMethodsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link BasisTheory.UnauthorizedError}
     * @throws {@link BasisTheory.ForbiddenError}
     * @throws {@link BasisTheory.NotFoundError}
     *
     * @example
     *     await client.agentic.paymentMethods.get("payment_method_id")
     */
    public get(
        payment_method_id: string,
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): core.HttpResponsePromise<BasisTheory.PaymentMethod> {
        return core.HttpResponsePromise.fromPromise(this.__get(payment_method_id, requestOptions));
    }

    private async __get(
        payment_method_id: string,
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): Promise<core.WithRawResponse<BasisTheory.PaymentMethod>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "BT-TRACE-ID": requestOptions?.correlationId ?? this._options?.correlationId }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BasisTheoryEnvironment.Default,
                `agentic/payment-methods/${core.url.encodePathParam(payment_method_id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.PaymentMethod.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new BasisTheory.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new BasisTheory.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new BasisTheory.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.BasisTheoryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/agentic/payment-methods/{payment_method_id}",
        );
    }

    /**
     * Delete a payment method and revoke everything downstream - every allowance backed by it is cancelled (including network-side purchase instructions) and no further verification or credential minting is possible.
     *
     * @param {string} payment_method_id
     * @param {PaymentMethodsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link BasisTheory.UnauthorizedError}
     * @throws {@link BasisTheory.ForbiddenError}
     * @throws {@link BasisTheory.NotFoundError}
     *
     * @example
     *     await client.agentic.paymentMethods.delete("payment_method_id")
     */
    public delete(
        payment_method_id: string,
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__delete(payment_method_id, requestOptions));
    }

    private async __delete(
        payment_method_id: string,
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "BT-TRACE-ID": requestOptions?.correlationId ?? this._options?.correlationId }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.BasisTheoryEnvironment.Default,
                `agentic/payment-methods/${core.url.encodePathParam(payment_method_id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new BasisTheory.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new BasisTheory.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new BasisTheory.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.BasisTheoryError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/agentic/payment-methods/{payment_method_id}",
        );
    }

    /**
     * Lists sanitized provider failures for a payment method and its downstream operations. Raw provider bodies and card data are never returned.
     *
     * @param {string} payment_method_id
     * @param {BasisTheory.agentic.PaymentMethodsErrorsRequest} request
     * @param {PaymentMethodsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link BasisTheory.ForbiddenError}
     * @throws {@link BasisTheory.NotFoundError}
     *
     * @example
     *     await client.agentic.paymentMethods.errors("payment_method_id", {
     *         size: 1,
     *         start: "start"
     *     })
     */
    public async errors(
        payment_method_id: string,
        request: BasisTheory.agentic.PaymentMethodsErrorsRequest = {},
        requestOptions?: PaymentMethodsClient.RequestOptions,
    ): Promise<core.Page<BasisTheory.SharedPaymentProviderError, BasisTheory.SharedPaymentProviderErrorList>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: BasisTheory.agentic.PaymentMethodsErrorsRequest,
            ): Promise<core.WithRawResponse<BasisTheory.SharedPaymentProviderErrorList>> => {
                const { size, start } = request;
                const _queryParams: Record<string, unknown> = {
                    size,
                    start,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "BT-TRACE-ID": requestOptions?.correlationId ?? this._options?.correlationId,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.BasisTheoryEnvironment.Default,
                        `agentic/payment-methods/${core.url.encodePathParam(payment_method_id)}/errors`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.SharedPaymentProviderErrorList.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 403:
                            throw new BasisTheory.ForbiddenError(_response.error.body, _response.rawResponse);
                        case 404:
                            throw new BasisTheory.NotFoundError(_response.error.body, _response.rawResponse);
                        default:
                            throw new errors.BasisTheoryError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/agentic/payment-methods/{payment_method_id}/errors",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<BasisTheory.SharedPaymentProviderError, BasisTheory.SharedPaymentProviderErrorList>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.pagination?.next != null &&
                !(typeof response?.pagination?.next === "string" && response?.pagination?.next === ""),
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "start", response?.pagination?.next));
            },
        });
    }
}
