// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as serializers from "../../../../../../serialization/index.js";
import * as BasisTheory from "../../../../../index.js";

export declare namespace PaymentCredentialsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PaymentCredentialsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PaymentCredentialsClient.Options>;

    constructor(options: PaymentCredentialsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists credential metadata across the tenant for Portal history. Spendable card, SPT, and MPP payloads are never returned.
     *
     * @param {BasisTheory.agentic.PaymentCredentialsListRequest} request
     * @param {PaymentCredentialsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link BasisTheory.ForbiddenError}
     *
     * @example
     *     await client.agentic.paymentCredentials.list({
     *         size: 1,
     *         start: "start"
     *     })
     */
    public async list(
        request: BasisTheory.agentic.PaymentCredentialsListRequest = {},
        requestOptions?: PaymentCredentialsClient.RequestOptions,
    ): Promise<core.Page<BasisTheory.PaymentCredentialMetadata, BasisTheory.PaymentCredentialList>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: BasisTheory.agentic.PaymentCredentialsListRequest,
            ): Promise<core.WithRawResponse<BasisTheory.PaymentCredentialList>> => {
                const { size, start } = request;
                const _queryParams: Record<string, unknown> = {
                    size,
                    start,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "BT-TRACE-ID": requestOptions?.correlationId ?? this._options?.correlationId,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.BasisTheoryEnvironment.Default,
                        "agentic/payment-credentials",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.PaymentCredentialList.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 403:
                            throw new BasisTheory.ForbiddenError(_response.error.body, _response.rawResponse);
                        default:
                            throw new errors.BasisTheoryError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/agentic/payment-credentials",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<BasisTheory.PaymentCredentialMetadata, BasisTheory.PaymentCredentialList>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.pagination.next != null &&
                !(typeof response?.pagination.next === "string" && response?.pagination.next === ""),
            getItems: (response) => response?.data ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "start", response?.pagination.next));
            },
        });
    }
}
